@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
* {
  overflow:none;
  padding: 0px;
  margin: 0px;
  background-color:black;
}
body{
  /* overflow: hidden; */
  background-color:black;

}
#canvas1{
  display: none;
}
#canvas{
  display: none;
}
#canvas2{
  display: none;
}

.main_wrapper {

  height: 100vh;
  background-color: black;
}
.flex{
  display: flex;
}
.loading_screen{
  position: relative;
  height: 100vh;
  transition: all 2s ease-in-out;
  opacity:1;
}
.game_title {
  position:absolute;
  top:25vh;
  left:3vw;
  font-size: 130px;
  letter-spacing: 10px;
  line-height: 100%;
  width: 90%;

}

.game_title .part1 {
  color: red;

}

.game_title .part2 {
  color: white;

}

.loading_text {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 6 0px;
  bottom: 20px;
  font-size: 35px;
  letter-spacing: 8px;
  color: white;
}

.loading_text span {
  font-size: 50px;
  color: white;
  top: -12px;
  animation-name: loading1;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.loading_text :nth-child(1) {
  position: absolute;
  right: -200px;
  animation-delay: .2s;

}

.loading_text :nth-child(2) {
  position: absolute;
  animation-delay: .4s;
  right: -214px;
}

.loading_text :nth-child(3) {
  position: absolute;
  right: -228px;
  animation-delay: .6s;
}

.game_play_button {}

.loading {
  /* position:absolute; */
  top: 97vh;
  left: 2vw;
  animation-duration: 8s;
  animation-delay: .2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}
.game_menu_screen{
  /* transition: transform 4s ease-in-out; */
  transition: opacity 4s ease-in-out;
  /* animation-duration: 4s; */
  height: 100vh;
  width:100%;
  background-color: black;
  opacity:0;
}
.game_play_button{
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  position: relative;

}

.game_play_button img{
  height: 250px;
  border-radius:100%;

  margin:0 auto;
  transition: all .2s ;
  transition-duration: 1s;

}
.game_play_button img:hover{
  transform:scale(1.1);
  box-shadow:2px 2px 2px 2px red;
}
.play_text{
  position:absolute;
  bottom: 153px;
  color:white;
  font-size: 65px;
  letter-spacing: 2px;
  animation-name:animate;
  animation-duration:4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;

}
.play_text>span{
  color:red

}


.story_screen{
  display: none;
  padding-top:30px;
  overflow:hidden;
  transition: opacity 2s ease-in-out;
  overflow: hidden;
  height:100vh;
  width:100%;
  background-color: black;
  color:red;
  display: inline-block;
  position: relative;
  opacity: 0;


 

}


.story_screen p{
  font-family: 'Inconsolata', monospace;
  margin-left:12px;
  overflow: hidden;
  letter-spacing: 2.7px;
  white-space: nowrap;
  font-size: 15px;
  animation: typing 5s steps(30, end) ,blink .75s infinite;
  animation-play-state: paused;

  opacity: 0;
  font-weight: 700;
  border-right: 15px solid red;
  box-sizing: border-box;
  animation-fill-mode: forwards;
}
.story_screen p:nth-child(1){
  animation-delay: 0s;
}
.story_screen p:nth-child(2){
  animation-delay:6s;
}
.story_screen p:nth-child(3){
  animation-delay:12s;
  margin-bottom: 40px;
}
.story_screen p:nth-child(4){
  animation-delay:18s;
}
.story_screen p:nth-child(5){
  animation-delay:24s;
  margin-bottom: 90px;

}
.story_screen p:nth-child(6){
  animation-delay:30s;
}
.button_wrapper{
  position:absolute;
  top:50vh;
  width:100%;
  justify-content: center;
  align-items:center;


}
.story_screen button{
  margin-left:100px;
  outline:none;
  height:70px;
  width:200px;
  border: 2px solid  red;
  color:red;
  font-size:25px;
  font-family: 'Inconsolata', monospace;
  animation-name: appear;
  /* opacity: 0; */
  transition:all .4s;
  animation-delay:31s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.story_screen button:hover{
  background-color: red;
  color:black;
}

.story_screen button:nth-child(2):clicked{
  background-color:aqua;
  color:black;
}
.main_game_screen{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  transition:all 1.4s ease-in-out;
  opacity: 0;
}
.find_the_exit{
text-align: center;
  color:red;
  font-size: 130px;
  letter-spacing: 10px;
  line-height: 100%;
  width: 90%;
  transition: all .4s ease-in-out;
  
}
.game_canvas{
  color:red;
  height:100vh;
  position: relative;
  transition:all 1.4s ease-in-out;
  /* opacity: 0; */
}

@keyframes loading1 {
  from {
    color: white;
  }

  to {
    color: red;
  }
}


@keyframes animate {
  from { 
      transform: translateY(60px);
      opacity: 0;
  }
  to { 
    transform: translateY(0px);
    opacity: 1;
    
  }
}

@keyframes typing {
  from { 
      opacity: 1;
      width: 0% 
  }
  to { 
     opacity: 1;
      width: 101% ;
      /* border-color:transparent;  */
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color:red; 
  }
}
@keyframes appear{
  from{
    opacity:0;
  }
  to{
    opacity:1;

  }
}

#canvas10 {
  /* background-color: rgba(255,255,255,0.1); */
  z-index: 1;
  height: 100%;
  width: 100%;
  /* position:absolute; */
  top: 0px;
  left: 0px;
}